{% extends 'base.html.twig' %}

{% block title %}Vintage Indé !
{% endblock %}

{% block body %}

	<div class="appercu col-10 offset-1 d-flex mt-5 reveal">
		<div class="titre text-center my-auto col-6">
			<h1 class="reveal-1">Vintage Indé</h1>
			<h5 class="h2 reveal-2">Vous offre un service personnalisé</h5>
		</div>
		<div class="images col-6 reveal-3">
			<img src="{{ asset('images/canape.jpg') }}" class="img-fluid" alt="">
		</div>
	</div>

	<div class="resume text-center my-5 reveal" id="presentation">
		<div class="col-8 offset-2 pt-5">
			<h5 class="h2 light reveal-1">En quelques mots</h5>
			<p class="mt-5 reveal-2">
				Vintage indé compose spécialement pour vous un espace dans votre boutique présentant des articles en accords avec le style de vos produits et de votre boutique, des vêtements de seconde mains. Nous vous offrons également un espace qui permettra à vos clients de pouvoir s'installer afin de leur offrir une expérience agréable et inscrire votre commerce dans leur mémoire comme un moment agréable.
			</p>
		</div>
	</div>

	<div class="d-flex col-10 offset-1 reveal" id="engagements">
		<div class="col-6 text-center reveal-1">
			<img src="{{ asset('images/plante.jpg') }}" class="images img-fluid col-6" alt="">
		</div>
		<div class="valeur col-8 text-center my-auto">
			<h5 class="col-6 h2 reveal-2">Nos valeurs</h5>
			<p class="col-6 mt-3 reveal-3">
				Nous sommes une entreprise qui accorde de l'importance à notre environnement et notre futur. C'est pour ceci que nous avons fait le choix de travailler exclusivement avec des articles de secondes mains ou issus de fabrication éco-responsable.
			</p>
		</div>
	</div>

	<div class="presentation text-center mt-5 pt-5 reveal">
		<h5 class="h2 light reveal-1">Qui suis-je ?</h5>
		<p class="text-center col-8 offset-2 mt-5 reveal-2">J'ai eu l'occasion de travailler dans divers domaines d'activité (cinéma, tacos, grande distribution, restauration..). Il est maintenant temps pour moi de me lancer dans mon propre domaine. Depuis toujours, je suis passionné par les vêtements. J'ai pris l'habitude depuis maintenant plusieurs années de chercher et dénicher de bonnes affaires que je revends ensuite sur Vinted. Je souhaite maintenant passer à l'étape supérieur et me lancer dans la vente professionnelle.</p>
	</div>

	<div class="contact reveal mt-5" id="contact">
		<h5 class="h2 text-center reveal-1">Me contacter</h5>
		<div class="card col-6 offset-3 mt-5 reveal-2">
			<div class="card-body ">
				{% for label,messages in app.flashes %}

					<div class="container">
						<div class="alert alert-{{ label }}">
							{% for message in messages %}
								<p>{{ message | raw }}</p>
							{% endfor %}
						</div>
					</div>

				{% endfor %}

				{{form_start(form)}}
				{{form_widget(form)}}

				<div class="text-center">
					<button type="submit" class="btn btn-dark">Envoyer</button>
				</div>

				{{form_end(form)}}

			</div>
		</div>

	</div>

	<div class="up">
		<a href="#" class="btn">
			<i class="fa-solid fa-arrow-up"></i>
		</a>
	</div>

{% endblock %}
